Invalid Cookie name

### Describe the bug

The cookie name being set as `auth:token` includes the separator `:` which is **invalid** as a cookie name.

[RFC 6256](https://www.rfc-editor.org/rfc/rfc6265#section-4.1.1) defines the cookie name as being a token:
> <token, defined in [[RFC2616], Section 2.2](https://www.rfc-editor.org/rfc/rfc2616#section-2.2)>

With RFC2616 stating that a token is `1*<any CHAR except CTLs or separators>`.

The remedy here would be to replace the usage of `:` with `_` which is an allowed character.

### Additional context

This problem came up when I was deploying a Nuxt project to aws using the aws cdk when creating a `CachePolicy` configured to pass through the `auth:token` cookie aws refused to complete citing the cookie name containing invalid characters.
